<div class="wrapper">
    <canvas baseChart *ngIf="chartData.length !== 0"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [legend]="false"
        [chartType]="'line'">
    </canvas>
</div>
<hr>
<div class="predict">
    <button mat-raised-button color="primary" (click)="prediction()" *ngIf="!isRegressionDone">Predict</button>
    <div *ngIf="isRegressionDone">
        The results are approximate and experimental. Actual numbers may vary from the results displayed here. <br>
        <div class="predict-summary">
            <div>
                <span class="label">Growth after 7 days</span>
                <span class="value">{{getPredictedValue(7)}}</span>
            </div>
            <div>
                <span class="label">Growth after 30 days</span>
                <span class="value">{{getPredictedValue(30)}}</span>
            </div>
            <div>
                <span class="label">Growth after <input matInput type="number" [value]="predictDay" (change)="predictDay = $event.target.value" /> days</span>
                <span class="value">{{getPredictedValue(predictDay)}}</span>
            </div>
        </div>
    </div>
</div>