header {
    text-align: center;
    margin: 50px 20px;
    span {
        font-size: 50px;
        font-weight: 300;
        a {
            color: black;
            text-decoration: none;
        }
    }
}

.main-content {
    margin: 0 1em;
}

footer {
    font-weight: 300;
    margin: 1em 1em;
    span {
        margin: 2em 0;
    }
}